.wrap {position: relative;}
.wrap .large{position: relative;}	
.wrap .large img{opacity: 0;position: absolute;}
.wrap .large img:first-child{opacity: 1;}
.wrap .little{margin-top: 10px;overflow: hidden;}
.wrap .little img{display: block;float: left;}
.wrap .little img:not(:first-child){opacity: 0.5}
.wrap .page{position: absolute}
.wrap .page span{display: inline-block;width: 20px;height: 20px;background: #fff;border-radius: 50%;margin: 0 5px;text-align: center;color: #aaa;}
.wrap .page .active{background: #ff0;}