<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<link rel="stylesheet" href="css/bootstrap.css" />
	<body>
		<div ng-controller="editCtrl">
			<input class="form-control" ng-model="title" placeholder="标题" />
			<input class="form-control" ng-model="content" placeholder="内容" />
			<button class="btn btn-default" ng-click="update()">更新新闻</button>
		</div>
	</body>
	<script src="js/angular.js"></script>
	<script>
		var app = angular.module("demo", []);
		app.controller("editCtrl", function($scope, $http, $location, $window) {
			$http({
				url: "http://localhost:10086/edit",
				params: {
					id: $location.search().id,
				}
			}).then(function(data) {
				console.log(data)
				$scope.title = data.data.text[0].title
				$scope.content = data.data.text[0].content
			})
			$scope.update = function() {
				$http({
					url: "http://localhost:10086/update",
					params: {
						id: $location.search().id,
						title: $scope.title,
						content: $scope.content,
					}
				}).then(function(data) {
					$window.location.href = "server-news.html"
				})
			}
		})
		angular.bootstrap(document, ["demo"])
	</script>
</html>